{% set page_title = 'Light Column' %}
{% set navbar_sticky = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set footer = 'minimal' %}

{% extends 'layouts/layout-1.html' %}


{% macro image_portfolio(src="", classes="", gallery="") %}
<a href="{{ src[1] }}" class="gallery-item{{ ' ' + classes if classes }}" data-fancybox="{{ gallery }}" data-animation-effect="fade">
    <img src="{{ src[0] }}" alt="">
</a>
{% endmacro %}

{% macro image_portfolio_init(name="", classes="", gallery="gallery-1") %}
    {{ image_portfolio(portfolio.light_column.image[name], classes=classes, gallery=gallery) }}
{% endmacro %}


{% block content %}
<div class="container">
    <div class="row gh-1 gv-1">
        <div class="col-12 show-on-scroll" data-show-duration="500" data-show-distance="20">
            {{ image_portfolio_init('01', 'gallery-item-sm') }}
        </div>
        <div class="col-12 col-sm-6 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="100">
            {{ image_portfolio_init('02', 'gallery-item-lg') }}
        </div>
        <div class="col-12 col-sm-6 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
            {{ image_portfolio_init('03', 'gallery-item-lg') }}
        </div>
        <div class="col-12 show-on-scroll" data-show-duration="500" data-show-distance="20">
            {{ image_portfolio_init('04', 'gallery-item-sm') }}
        </div>
        <div class="col-12 col-sm-6 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
            {{ image_portfolio_init('05', 'gallery-item-lg') }}
        </div>
        <div class="col-12 col-sm-6 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
            {{ image_portfolio_init('06', 'gallery-item-lg') }}
        </div>
    </div>

    <div class="py-160 my-n10">
        <div class="row gh-1 gv-5 justify-content-center">
            <div class="col-12 col-lg-6 col-xl-5 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="left">
                <div class="subtitle">about project</div>
                <h1 class="h3 mb-60">Light Column</h1>
            </div>
            <div class="col-12 col-lg-6 col-xl-5 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-origin="right" data-show-delay="200">
                <p class="lead mb-30 fw-normal">A site specific artwork installed in a busy commercial area in Chengdu, China. Interactive in nature, it uses fluid mechanics algorithms to reflect the motion and colours around using 4 cameras.</p>
                <p class="mb-0">The encourages people to congregate, take a break and breath in midst of the busyness of the traffic and noises.</p>
                <hr>
                <div class="row gh-2 gv-3">
                    <div class="col-auto col-sm-6">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Date:</span> June, 2020</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Category:</span> Installation</li>
                            <li class="list-group-item"><span class="fw-medium me-8">Client:</span>Chendu City Management</li>
                        </ul>
                    </div>

                    <div class="col-auto col-sm-6">
                        <ul class="list-group list-group-gap borderless">
                            <li class="list-group-item"><span class="fw-medium me-8">Team:</span> Lawrence Daykins, George Adamapolous, Dhruv Kumar</li>
                            <li class="list-group-item">Designed and executed at Jason Bruges Studio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/566020897?h=a4ade2e0ba&color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    <p><a href="https://vimeo.com/566020897">Light Column Installation</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <div class="page-navigation mt-160">
        <a href="#" class="btn btn-clean">{{ icon.arrow_left | replace(' width', ' class="icon-arrow icon-arrow-left" width') | safe }}prev<span class="d-none d-sm-inline"> project</span></a>
        <a href="index.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="#" class="btn btn-clean">next<span class="d-none d-sm-inline"> project</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>

    <div class="mt-160"></div>
</div>

{% endblock %}
