{% set page_title = 'Tardigrade' %}
{% set navbar_sticky = true %}
{% set navbar_expand = true %}
{% set navbar_mobile = 'style-2' %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% macro image_portfolio(src="", classes="", gallery="") %}
<a href="{{ src[1] }}" class="gallery-item text-white{{ ' ' + classes if classes }}" data-fancybox="{{ gallery }}" data-animation-effect="fade">
    <img src="{{ src[0] }}" alt="">
    <span class="background-color" style="background-color: rgba(14, 14, 14, .2);"></span>
    <span class="gallery-item-icon">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 2.5V0H1.25C0.559609 0 0 0.559609 0 1.25V10H2.5V4.2625L14.1125 15.875L15.875 14.1125L4.2625 2.5H10Z" fill="currentColor"/>
            <path d="M38.75 0H30V2.5H35.7375L24.125 14.1125L25.8875 15.875L37.5 4.2625V10H40V1.25C40 0.559609 39.4404 0 38.75 0Z" fill="currentColor"/>
            <path d="M37.5 35.7375L25.8875 24.125L24.125 25.8875L35.7375 37.5H30V40H38.75C39.4404 40 40 39.4404 40 38.75V30H37.5V35.7375Z" fill="currentColor"/>
            <path d="M14.1125 24.1125L2.5 35.7375V30H0V38.75C0 39.4404 0.559609 40 1.25 40H10V37.5H4.2625L15.875 25.8875L14.1125 24.1125Z" fill="currentColor"/>
        </svg>
    </span>
</a>
{% endmacro %}

{% macro image_portfolio_init(name="", classes="", gallery="gallery-1") %}
    {{ image_portfolio(portfolio.tardigrade.image[name], classes=classes, gallery=gallery) }}
{% endmacro %}

{% block content %}
<div class="container mt-n10">
    <div class="pt-60 pb-130 mt-30 mb-n10 text-center">
        <h1 class="mb-n7 show-on-scroll" data-show-duration="700" data-show-distance="10">Tardigrade</h1>
    </div>

    <div class="swiper mb-160 show-on-scroll" data-swiper-slides="1" data-swiper-speed="600" data-swiper-loop="true" data-swiper-parallax="true" data-show-duration="700" data-show-delay="200">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex align-items-center justify-content-center">
                    {{ image_portfolio_init('02', 'gallery-item-md w-100 h-auto', 'gallery-slider') }}
                </div>
                <div class="swiper-slide d-flex align-items-center justify-content-center">
                    {{ image_portfolio_init('10', 'gallery-item-md w-100 h-auto', 'gallery-slider') }}
                </div>
                <div class="swiper-slide d-flex align-items-center justify-content-center">
                    {{ image_portfolio_init('07', 'gallery-item-md w-100 h-auto', 'gallery-slider') }}
                </div>
                <div class="swiper-slide d-flex align-items-center justify-content-center">
                    {{ image_portfolio_init('03', 'gallery-item-md w-100 h-auto', 'gallery-slider') }}
                </div>
                <div class="swiper-slide d-flex align-items-center justify-content-center">
                    {{ image_portfolio_init('12', 'gallery-item-md w-100 h-auto', 'gallery-slider') }}
                </div>
            </div>
        </div>
        <div class="swiper-button-prev bg-white">
            {{- icon.arrow_left | safe -}}
        </div>
        <div class="swiper-button-next bg-white">
            {{- icon.arrow_right | safe -}}
        </div>
    </div>

    <div class="row gv-3 justify-content-center mb-130">
        <div class="col-12 col-lg-7 text-center">
            <h2 class="h3 mb-30 mt-n10 show-on-scroll" data-show-duration="500" data-show-distance="10">About project</h2>
            <p class="mb-0 pt-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">Tardigrade is a continuos cruiser narrowboat living in London canals. She was built in 1980 and is being renovated by us since 2021.</p>
            <p class="mb-0 pt-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">Full interior and electrical refurbishment to make it more beautiful, livable and smart. Lots of small little sensors, custom made lighting setup, everything connected !</p>
        </div>
        <div class="col-12 col-lg-10 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="300">
            <hr class="mt-0 mb-30">
            <div class="row justify-content-around gh-1">
                <div class="col-auto mb-8">
                    <span class="fw-medium me-8">Team:</span> Nina Pestel and Dhruv Kumar.
                </div>
            </div>
        </div>
    </div>

    <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;"  src="https://www.youtube.com/embed/E4eAK_rn3kM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>A cruise from Paddington to King's Cross in London</p>

    <div class="row gh-1 gv-1">
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10">
            {{ image_portfolio_init('05', 'gallery-item-lg', 'gallery') }}
            <p class="text-center mt-2">Custom lighting controller</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="50">
            {{ image_portfolio_init('06', 'gallery-item-lg', 'gallery') }}
            <p class="text-center mt-2">Sliders to control lights depending on battery and mood.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="100">
            {{ image_portfolio_init('09', 'gallery-item-lg', 'gallery') }}
            <p class="text-center mt-2">Pee Alarm :)</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
            {{ image_portfolio_init('04', 'gallery-item-lg', 'gallery') }}
            <p class="text-center mt-2">Unique Tunnel Lighting Setup</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
            {{ image_portfolio_init('16', 'gallery-item-lg', 'gallery') }}
            <p class="text-center mt-2">Tiling is so hard</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
            {{ image_portfolio_init('15', 'gallery-item-lg', 'gallery') }}
            <p class="text-center mt-2">It was a lot of work !</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">
            {{ image_portfolio_init('11', 'gallery-item-lg', 'gallery') }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="250">
            {{ image_portfolio_init('17', 'gallery-item-lg', 'gallery') }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="350">
            {{ image_portfolio_init('20', 'gallery-item-lg', 'gallery') }}
        </div>
    </div>

    <div class="mt-160"></div>
</div>
{% endblock %}
